body{
  display: flex;
  justify-content: center;
}
div{
    background-color: rgb(242, 238, 238);
}
h3{
text-align: center;
background-color: rgb(99, 103, 104);
opacity: 0.9;
}
h6{
    color: black;
    text-align: center;
    background-color: white;
}
.card-body{
    background-color:  white;
}
center{
    padding: 10px;
}